
/* laptop */

#photo-column {
	display: grid;
	grid-template-columns: 20% 1fr 20%;
}

/* phone */
@media (max-width: 800px ) {
	#photo-column {
		display: grid;
		grid-template-columns: 10% 1fr 10%;
	}
}

.horizontal-photo { 
	width: 100%;
	margin-bottom: 70px;
 }

 .vertical-photo {
 	width: 60%;
 	margin-bottom: 60px;
 	margin-left: 25%;
 }

a {
	text-decoration: none;
}

#film-button {
	color: black;
}

#phone-button {
	color: grey;
}

#phone-button:hover {
	color: black;
}

#navigate {
	padding: 25px;
}